@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .navbar-icon {
        @apply relative flex items-center justify-center
               h-16 w-16 mt-2 mb-2 mx-auto shadow-lg text-3xl
               bg-gray-800 text-orange-400 rounded-[100%];

    }

    html {
        @apply bg-white cursor-none overflow-hidden
    }

    @font-face {
        font-family: 'Newake Demo';
        src: url('./fonts/transfonter.org-20220323-122302/NewakeDemo.woff2') format('woff2'),
            url('./fonts/transfonter.org-20220323-122302/NewakeDemo.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Neue Metana';
        src: url('./fonts/transfonter.org-20220323-122302/NeueMetana-Regular.woff2') format('woff2'),
            url('./fonts/transfonter.org-20220323-122302/NeueMetana-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Neue Metana';
        src: url('./fonts/transfonter.org-20220323-122302/NeueMetana-Bold.woff2') format('woff2'),
            url('./fonts/transfonter.org-20220323-122302/NeueMetana-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}